#data{
	width:720px;
	height:auto;
	float:left;
    display: inline-block;
}
#complete,#cancel{
	width:320px;
	height:auto;
	float:left;
    clear: right;
    display: inline-block;
}

.totalData{
    font-weight: bold;
}
