#data{
	width:720px;
	height:auto;
	float:left;
    display: inline-block;
}
#complete,#cancel{
	width:330px;
	height:auto;
	float:left;
    display: inline-block;
    overflow: hidden;
    margin-left: 10px;
}

.totalData{
    font-weight: bold;
}
 
#total{
	width:330px;
	height: auto;
	float:left;
	clear:right;
}
