{%extends 'layout.html'%}
{%block id%}
{{info[0].esewa_id}}
{%endblock%}
{%block main_table%}
<div class='container' id = 'data'>
<table class='table table-bordered'  id='table1'>
<thead>
    <tr>
        <td>Service Provider</td>
        <td>Description </td>
        <td>Service Name</td>
        <td>Type</td>
        <td>Amount</td>
        <td>Status</td>
        <td>Time</td>
    </tr>
</thead>
<tbody>
{%for cashback in cashbacks%}
    <tr>
        <td>{{ cashback.service_provider }}</td>
        <td>{{ cashback.service }}</td>
        <td>{{ cashback.service_name }}</td>
        <td>{{ cashback.service_type }}</td>
        <td>{{ cashback.amount }}</td>
        <td>{{ cashback.status }}</td> 
        <td>{{ cashback.time }}</td>
    </tr>
{%endfor%}
</tbody>
</table>
</div>
{%endblock%}
{%block total%}
<div class='container' id='total'>
    <table class='table table-bordered'>
        <thead>
            <tr>
            <td><h4>Service Provider</h4></td>
            <td><h4>No of Transaction</h4></td>
            <td><h4>Total Amount</h4></td>
            </tr>
        </thead>
        <tbody>
        {%for item in total%}
            <tr>
                <td>{{item.service_provider}}</td>
                <td class = 'rowData'>{{item[1]}}</td>
                <td class = 'rowData'>{{item[2]}}</td>
            </tr>
        {%endfor%}
        <tr class='totalColumn'>
                <td><strong>Total</strong></td>
                <td class = 'totalData'></td>
                <td class = 'totalData'></td>
            </tr>
        </tbody>
    </table>
</div>
{%endblock%}