<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>gSewa by Razin Dangol</title>

<!-- Bootstrap -->
<link href="{{url_for('static',filename='css/bootstrap.css') }}" rel="stylesheet">
<script src ="{{url_for('static',filename='js/jquery-1.11.2.min.js')}}"></script>
<link rel="stylesheet" href="{{url_for('static',filename='css/upload.css')}}">
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class='container'>
<div class="menu">
	<div class='page-header'>
    	<h1>gSewa</h1>
        <small>Let's Be Greedy</small>
    </div>
    
    <div class='upload' id='upload'>
    	<div style='color:#336FE7'>Drag And Drop Excel File here</div>
        <div class='or'><em>-or-</em></div>
        <div class='browser'>
        	<label><span>Click to open file browser</span>
            <input type='file' name='file' id = 'fileinput'>
            </label>
        </div>
    </div>
    
    
 </div>
</div>
<script src="{{url_for('static',filename='js/dmuploader.min.js')}}"></script>	   
<script src="{{url_for('static',filename='js/upload.js')}}"></script>
</body>
</html>
