{%extends 'layout.html'%}
{%block title%}
<title>Payments || {{request.url|replace(request.url_root+'payment/','')|upper}}</title>
{%endblock%}
{%block id%}
{{info.esewa_id}}
{%endblock%}
{%block main_table%}
<div class='container'>
<ul class='nav nav-pills'>
    <li {% if request.url|replace(request.url_root+'payment/','') == 'all' %} class='active'{%endif%}><a href='all'>ALL</a></li>
    {%for item in service_providers%}
    
        <li {% if request.url|replace(request.url_root+'payment/','') == item.service_provider|lower %} class = 'active' {%endif%}><a href='{{item.service_provider| lower}}'>{{item.service_provider}}</a></li>
    {%endfor%}
</ul>
</div>
<div class='container table-responsive' id='data'>
<table class='table table-bordered' id='table1'>
<thead>
    <tr>
        <td>Service Provider</td>
        <td>Description </td>
        <td>Service Name</td>
        <td>Type</td>
        <td>Amount</td>
        <td>Status</td>
        <td>Time</td>
    </tr>
</thead>
<tbody>
{%for payment in payments%}
    <tr>
        <td>{{ payment.service_provider }}</td>
        <td>{{ payment.service }}</td>
        <td>{{ payment.service_name }}</td>
        <td>{{ payment.service_type }}</td>
        <td>{{ payment.amount }}</td>
        <td>{{ payment.status }}</td>
        <td>{{ payment.time }}</td>
    </tr>
{%endfor%}
</tbody>
</table>
</div>
{%endblock%}}
{% block total%}
<div class='container' id='total'>
    <div class='panel panel-default table-responsive panel-primary' id='complete'>
        <div class ='panel-heading'>
            <h3 class='panel-title'>
                Completed
            </h3>
        </div><!--.panel-heading-->

        <table class='table table-bordered' data-sort-name='service_provider' data-sort-order='desc'>
            <thead>
                <tr>
                <td data-field='service_provider'><h4>Service Provider</h4></td>
                <td data-field='no'><h4>No of Transaction</h4></td>
                <td data-field='amount'><h4>Total Amount</h4></td>
                </tr>
            </thead>
            <tbody>
            {%for item in complete%}
            <tr>
                {%if item.service_name%}
                    <td>{{item.service_name | capitalize}}</td>
                {%else%}
                    <td>{{item.service_provider | capitalize}}</td>
                {%endif%}
                    <td class = 'rowData'>{{item[1]}}</td>
                    <td class = 'rowData'>{{item[2]}}</td>
                </tr>
            {%endfor%}
                <tr class='totalColumn panel-footer'>
                    <td><strong>Total</strong></td>
                    <td class = 'totalData'></td>
                    <td class = 'totalData'></td>
                </tr>
            </tbody>
        </table>
    </div><!--#complete-->

    <div class='panel panel-default table-responsive panel-danger' id='cancel'>
        <div class ='panel-heading'>
            <h3 class='panel-title'>
                Cancelled
            </h3>
        </div><!--.panel-heading-->

            <table class='table table-bordered' data-sort-name='service_provider' data-sort-order='desc'>
                <thead>
                    <tr>
                    <td data-field='service_provider'><h4>Service Provider</h4></td>
                    <td data-field='no'><h4>No of Transaction</h4></td>
                    <td data-field='amount'><h4>Total Amount</h4></td>
                    </tr>
                </thead>
                <tbody>
                {%for item in cancel%}
                    <tr>
                    {%if item.service_name%}
                        <td>{{item.service_name | capitalize}}</td>
                    {%else%}
                        <td>{{item.service_provider | capitalize}}</td>
                    {%endif%}
                        <td class = 'rowData'>{{item[1]}}</td>
                        <td class = 'rowData'>{{item[2]}}</td>
                    </tr>
                {%endfor%}
                    <tr class='totalColumn panel-footer'>
                        <td><strong>Total</strong></td>
                        <td class = 'totalData'></td>
                        <td class = 'totalData'></td>
                    </tr>
                </tbody>
            </table>

        </div><!--/#cancel-->

</div><!--#total-->


{%endblock%}