{%extends 'layout.html'%}
{%block id%}
{{info.esewa_id}}
{%endblock%}
{%block main_table%}
<div class='container table-responsive' id='data'>
<table class='table table-bordered' id='table1'>
<thead>
    <tr>
        <td>Service Provider</td>
        <td>Description </td>
        <td>Service Name</td>
        <td>Type</td>
        <td>Amount</td>
        <td>Status</td>
        <td>Time</td>
    </tr>
</thead>
<tbody>
{%for transfer in transfers%}
    <tr>
        <td>{{ transfer.service_provider }}</td>
        <td>{{ transfer.service }}</td>
        <td>{{ transfer.service_name }}</td>
        <td>{{ transfer.service_type }}</td>
        <td>{{ transfer.amount }}</td>
        <td>{{ transfer.status }}</td>
        <td>{{ transfer.time }}</td>
    </tr>
{%endfor%}
</tbody>
</table>
</div>
{%endblock%}}
{% block total%}
<div class='container' id='total'>
    <div class='panel panel-default table-responsive panel-primary' id='complete'>
        <div class ='panel-heading'>
            <h3 class='panel-title'>
                Balance Received From
            </h3>
        </div><!--.panel-heading-->

        <table class='table table-bordered' data-sort-name='service_provider' data-sort-order='desc'>
            <thead>
                <tr>
                <td data-field='service_provider'><h4>Service Provider</h4></td>
                <td data-field='no'><h4>No of Transaction</h4></td>
                <td data-field='amount'><h4>Total Amount</h4></td>
                </tr>
            </thead>
            <tbody>
            {%for item in received%}
                <tr>
                    <td>{{item.name}}</td>
                    <td class = 'rowData'>{{item[1]}}</td>
                    <td class = 'rowData'>{{item[2]}}</td>
                </tr>
            {%endfor%}
                <tr class='totalColumn panel-footer'>
                    <td><strong>Total</strong></td>
                    <td class = 'totalData'></td>
                    <td class = 'totalData'></td>
                </tr>
            </tbody>
        </table>
    </div><!--#complete-->

    <div class='panel panel-default table-responsive panel-primary' id='cancel'>
        <div class ='panel-heading'>
            <h3 class='panel-title'>
                Balance Transferred To 
            </h3>
        </div><!--.panel-heading-->

            <table class='table table-bordered' data-sort-name='service_provider' data-sort-order='desc'>
                <thead>
                    <tr>
                    <td data-field='service_provider'><h4>Service Provider</h4></td>
                    <td data-field='no'><h4>No of Transaction</h4></td>
                    <td data-field='amount'><h4>Total Amount</h4></td>
                    </tr>
                </thead>
                <tbody>
                {%for item in transferred%}
                    <tr>
                        <td>{{item.name}}</td>
                        <td class = 'rowData'>{{item[1]}}</td>
                        <td class = 'rowData'>{{item[2]}}</td>
                    </tr>
                {%endfor%}
                    <tr class='totalColumn panel-footer'>
                        <td><strong>Total</strong></td>
                        <td class = 'totalData'></td>
                        <td class = 'totalData'></td>
                    </tr>
                </tbody>
            </table>
    </div><!--#cancel>

</div><!--#total-->


{%endblock%}